/Projekt-Baeredygtig/target/classes/org/example/projektbaeredygtig/BinColor.class
/Projekt-Baeredygtig/target/classes/org/example/projektbaeredygtig/CSVReader.class
/Projekt-Baeredygtig/Projekt-Baeredygtig/target/classes/db.properties
/Projekt-Baeredygtig/target/classes/org/example/projektbaeredygtig/Measurement.class
/Projekt-Baeredygtig/target/classes/Styles/styles.css
/Projekt-Baeredygtig/target/
